__pycache__/
.venv/
logs/
exported_models/
exported_models_vae/
tb_logs_vae/

# Datasets
data/
data_instruments/
data_instruments_small/
data_instruments_tiny/
data_test/
data_test_gt/
data_instruments.zip
data_instruments_small.zip

# Models for experiments
experiments_models/

# Models for inference
# inference_models/
base_model/
instruments_from_scratch/
reconstructed_audios.mp3
metrics_history_vae.csv


# Experiments outputs

outputs/
interpolation_audio_*/
interpolation_regime_experiment*/
interpolation_random_*/
data_short_tracks/
results_*/
AudiosInterpolacion/
Audios Interpolación/
AudiosInterpolacion-Nuevos/
AudiosInterpolacion-Nuevos-Linear/
test.wav